body {
    background-color: #050FA3;
}

button {
    width: 210px;
    height: 100px;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border-radius: 50px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

h1{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 80px;
}

h2{
    font-size: 50px;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff4b2b;
    margin-left: 20px;
    margin-right: 20px;
}

.celda {
    width: 150px;
    height: 150px;
    border: 5px solid;
    box-shadow: 0 0 0 2px;
    font-size: 100px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.celda:hover{
    transform: scale(1.08);
    background-color: #1120F0;
    
}

#Juego {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    border: 10px solid red;
}

#Celdas {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: fit-content;
    margin: auto;
}

/* BRILLO EN QUIEN GANA */

.win {
    background-color: yellow;
    box-shadow: 0 0 15px yellow;
    transition: background-color 0.4s ease, transform 0.3s ease;
}


/*  5X5 JUEGO  */


#Celdas5x5 {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    width: fit-content;
    margin: 20px auto;
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

.celda5x5 {
    width: 88px;
    height: 88px;
    border: 4px solid;
    box-shadow: 0 0 0 2px;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 75px;
}

.celda5x5:hover {
    transform: scale(1.08);
    background-color: #1120F0;

}


/* 7X7 JUEGO */

#Juego7x7 {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    width: 100%;
}

#Celdas7x7 {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(7, auto);
    width: fit-content;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    margin: 20px auto;
}

.celda7x7 {
    width: 90px;
    height: 90px;
    border: 4px solid;
    box-shadow: 0 0 0 2px;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 75px;
}

.celda7x7:hover {
    transform: scale(1.08);
    background-color: #1120F0;

}